<div class="side-bar"> 
	<a href="/url/" title="网址"><span class="icon-search">网址</span></a> 
	<a href="/archive/" title="归档"><span class="icon-archive">归档</span></a> 
	<a href="/category/" title="分类"><span class="icon-category">分类</span></a> 
	<a href="/tags/" title="标签"><span class="icon-tags">标签</span></a> 
</div>
<section class="footer">
    <footer>
	<span class="footer__copyright">本站点原创文章采用<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享 署名-非商业性使用-相同方式共享 4.0 国际 许可协议</a></span>
        <span class="footer__copyright">Copyright &copy; {{site.title}} &copy; {{site.time | date: "%Y"}} all right reserved</span>
    </footer>
</section>
