<div class="side-bar"> 
	<a href="/search/" title="搜索" class="icon-search"><span>搜索</span></a> 
	<a href="/archive/" title="归档" class="icon-archive"><span>归档</span></a> 
	<a href="/category/" title="分类" class="icon-category"><span>分类</span></a> 
	<a href="/tags/" title="标签" class="icon-tags"><span>标签</span></a> 
</div>
<section class="footer">
    <footer>
        <span class="footer__copyright">Copyright &copy; {{site.title}} &copy; {{site.time | date: "%Y"}} all right reserved</span>
    </footer>
</section>
