{% if page.description %}
{% assign desc = page.description %}
{% else %}
{% if page.layout == "post" %}
{% assign desc = page.content | split: '</p>' | first | strip_html  %}
{% else %}
{% assign desc = site.description %}
{% endif %}
{% endif %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>{% if paginator and paginator.page != 1 %}第{{ paginator.page }}页 | {{ site.title }}{% elsif page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %} - 与人分享就是让自己快乐！</title>
  <meta name="description" content="{{ desc }}">
   <meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ', '}}{% else %}{{ site.keywords | join: ', ' }}{% endif %}" />
  <meta name="author" content="YEQING.RUN">
<meta name="renderer" content="webkit">
  
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
  <link href="/assets/images/favicon.png" rel="shortcut icon" type="image/png">
  
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  
  <meta name="google-site-verification" content="1-1ZlHoRvM0T2FqPbW2S-qLgYXN6rsn52kErlMPd_gw" />

  <script>
    var ua = navigator.userAgent,
      head = document.head,
      site = {
        home: '{{ site.home }}',
        api: '{{ site.api }}',
        img: '{{ site.IMG_PATH }}',
        tongji: '{{ site.tongji }}',
        analytics: '{{ site.analytics }}',
        forum: '{{ site.nickname }}',
        title: "{{ site.title }}"
      },
      page = { 
        layout: '{{ page.layout }}',
        title: '{{ page.title }}',
        url: location.pathname,
        desc: '{{ desc }}',
        id: '{{ page.id }}',
        category: '{{ page.category }}',
        tags: ['{{ page.tags | join: "','" }}']
      },
      browser = { 
        macos: /Mac/i.test(navigator.platform),
        windows: /Win/i.test(navigator.platform),
        mobile: /AppleWebKit.*Mobile.*/i.test(ua),
        wechat: /MicroMessenger/i.test(ua),
      };
  </script>

</head>
