// ------------------------------
// BASICS
// ------------------------------

html, body {
  height: 100%;
}

html {
    height: 100%;
    max-height: 100%;
}

body {
  font-family: $sans-font;
  font-size: 1em;
  color: $body-color;
  -webkit-font-smoothing: antialiased;
  text-align: justify;
}

::selection {
  background: lighten($primary-color, 36%);
}

::-moz-selection {
  background: lighten($primary-color, 36%);
}

// ------------------------------
// TYPOGRAPHY
// ------------------------------

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $hover-color;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
  }

}

video {
    display: block;
    margin: 10px auto;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin-top: 1.0em;
  margin-bottom: .5em;
  font-family: $serif-font;
  font-weight: lighter;
  color: $gray-darkest;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-top: 0;
  font-size: 1.8em;
  line-height: 1.2em;
  letter-spacing: .05em;
}

h2 {
  font-size: 1.5.0em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

p {
  margin-bottom: 1.3em;
  line-height: 1.7em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

blockquote {
  padding: 10px 0px 5px 20px;
  margin: 0 0 20px;
  font-family: $serif-font;
  font-weight: lighter;
  font-size: 1em;
  border-left: 3px solid $primary-color;

  p {

    &:last-child {
      margin-bottom: 0;
    }

  }

}

// ------------------------------
// BASIC STYLING
// ------------------------------

ol, ul {
  margin: 0 0 1.3em 2.5em;

  li {
    margin: 0 0 .2em 0;
    line-height: 1.6em;
  }

  ol, ul {
    margin: .1em 0 .2em 2em;
  }

}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

code {
  padding: .1em .4em;
  background: lighten($secondary-color, 32%);
  border: 1px solid lighten($secondary-color, 25%);
  border-radius: $border-radius;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: .9em;
  vertical-align: bottom;
  word-wrap: break-word;
}

pre {
  margin-bottom: 1.3em;
  padding: 1em 2.5%;
  background: lighten($secondary-color, 32%);
  border: 1px solid lighten($secondary-color, 25%);
  border-radius: $border-radius;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: .9em;
  font-weight: normal;
  line-height: 1.3em;
  overflow:scroll;

  code {
    padding: 0;
    background: none;
    border: none;
    word-wrap: normal;
  }

}

table {
  color: $gray-darkest;
  font-size: .9em;
  text-align: center;
  line-height: 40px;
  border-spacing: 0;
  border: 2px solid darken($primary-color, 10%);
  width: 90%;
  margin: 50px auto;
}

thead tr:first-child {
  background-color: darken($primary-color, 10%);
  color: $gray-lightest;
  border: none;
}

th {font-weight: bold;}
th:first-child, td:first-child {padding: 0 15px 0 20px;}

thead tr:last-child th {
    border-bottom: 1px solid $gray-light;
}

tbody tr:last-child td {border: none;}
tbody td {
    border-bottom: 1px solid $gray-light;
    font-size: .85em;
}

td:last-child {
  padding-right: 10px;
}


.date,
.time,
.author,
.tags,
.categories,
.post-count {
  font-size: .8em;
  color: darken($gray, 2%);

  a {
    color: $gray-darker;

    &:hover {
      color: $hover-color;
    }

  }

}

//.categories:before {
//    content: "";
//    display: inline-block;
//    height: 8px;
//    width: 1px;
//    background: #96c1eb;
//    position: relative;
//    top: 0px;
//    right: 6px;
//}

.excerpt {
  margin: 0;
  font-size: .9em;
  color: $gray-dark;
}

.intro {
  font-family: $serif-font;
  font-size: 1.2em;
  font-weight: lighter;
  color: $gray-dark;
}

.block-heading {
  @include column(12);
  position: relative;
  bottom: -15px;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.label {
  position: relative;
  display: inline-block;
  padding: 8px 18px 9px 18px;
  background: $primary-color;
  border-radius: $border-radius;
  text-align: center;
  color: #FFF;
}

// ------------------------------
// MAIN LAYOUT
// ------------------------------

.container {
  position: relative;
  z-index: 500;
  width: $total-width - $gutter-width;
  margin: 0 auto;
}

.content-wrapper {
  z-index: 800;
  width: 70%;
  margin-left: 30%;
}

  .content-wrapper__inner {
    margin: 0 10%;
    padding: 50px 0;
    max-width: 850px;
  }

.footer {
  display: block;
  padding: 2em 0 0 0;
  border-top: 2px solid $gray-light;
  font-size: .7em;
  color: lighten($gray-dark, 10%);
}

  .footer__copyright {
    display: block;
    margin-bottom: .7em;

    a {
      color: lighten($gray-dark, 5%);
      text-decoration: underline;

      &:hover {
        color: $hover-color;
      }

    }

  }

// ------------------------------
// AVATAR & LOGO
// ------------------------------

.avatar,
.logo {
  border-radius: 50%;
  border: 3px solid #FFF;
  box-shadow:0 0 1px 1px rgba(000,000,000,.3);
}

// ------------------------------
// DIVIDERS
// ------------------------------

hr {
  border: none;
}

.section-title__divider {
  width: 30%;
  margin: 2.2em 0 2.1em 0;
  border-top: 1px solid $gray-light;
}

// ------------------------------
// MISC STYLES / HELPERS
// ------------------------------

.hidden {
  display: none !important;
}

// ------------------------------
// SEARCH
// ------------------------------

.search .search-header {
  margin: 40px auto;
  width: 80%;
  position: relative;
}
.search .search-header .search-input {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 36px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  font-size: 13px;
}
.search .search-header .icon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  fill: #626262;
}
.search .search-result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0;
  height: 70px;
}
.search .search-result-item .search-result-thumb {
  width: 70px;
  height: 70px;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #fff;
}
.search .search-result-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
}
.search .search-result-content .search-result-header {
  line-height: 26px;
  height: 26px;
}
.search .search-result-content .search-result-header .search-result-title {
  font-size: 1em;
}
.search .search-result-content .search-result-desc {
  font-size: .9em;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.search .search-result-content .search-result-highlight {
  display: inline-block;
  background-color: rgba(255,255,0,0.7);
}

// ------------------------------
// 分类
// ------------------------------

.page-header .page-title {
    border-bottom: 2px solid #e7e7eb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.page-header .page-title:before {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: #7db9de;
    -webkit-transition: .5s .5s all ease-out;
    transition: .5s .5s all ease-out
}

.page-header .page-title:after {
    display: inline-block;
    position: absolute;
    bottom: -7px;
    color: #7db9de;
    background-color: #fff;
    padding: 0 3px;
    font-size: 12px;
    line-height: 1;
    opacity: 0;
    -webkit-transition: .3s opacity;
    transition: .3s opacity
}

.page-header .page-title:hover:after {
    opacity: .6
}

.page-header .page-title .page-title-link {
    color: #000;
    border-bottom: none;
    display: block
}

.page-header .page-title .page-title-desc {
    color: #666;
    font-size: 13px;
    font-weight: 400
}

.page-header .page-title .icon {
    margin-top: 4px;
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer
}

.page-header .page-title .page-search-input {
    padding: 0 5px;
    width: 150px;
    border: 1px solid #e7e7eb;
    border-radius: 0;
    font-size: 13px;
    color: 333
}

// ------------------------------
// side-bar
// ------------------------------

// .side-bar a {background: url(https://yeqing.run/assets/images/avatar.jpg) no-repeat;}
.side-bar {width: 44px;position: fixed;bottom: 20px;right: 5px;font-size: 0;line-height: 0;z-index: 100;}
.side-bar a {width: 44px;height: 44px;border-radius: 50%;display: inline-block;background-color: #f5f5f5;margin-bottom: 2px;}
.side-bar a:hover {background-color: #669fdd;}
// .side-bar .icon-qq {background-position: 0 -62px;}
// .side-bar .icon-chat {background-position: 0 -130px;position: relative;}
// .side-bar .icon-chat:hover .chat-tips {display: block;}
// .side-bar .icon-blog {background-position: 0 -198px;}
// .side-bar .icon-mail {background-position: 0 -266px;}
// .side-bar .icon-totop {background-position: 0 -334px;}
// .chat-tips {padding: 20px;border: 1px solid #d1d2d6;position: absolute;right: 78px;top: -55px;background-color: #fff;display: none;}
// .chat-tips i {width: 9px;height: 16px;display: inline-block;position: absolute;right: -9px;top: 80px;background-position:-88px -350px;}
// .chat-tips img {width: 138px;height: 138px;}

@media screen and (max-width:768px){
.side-bar {-webkit-transform: scale(.8);}
}

.icon-search,
.icon-archive,
.icon-category,
.icon-tags {
  font-size: 13px;
  color: #555;
}
.icon-search {
  position: absolute;
  top: 22px;
  right: 10px;
}
.icon-archive {
  position: absolute;
  top: 68px;
  right: 10px;
}
.icon-category {
  position: absolute;
  top: 114px;
  right: 10px;
}
.icon-tags {
  position: absolute;
  top: 160px;
  right: 10px;
}



// ------------------------------
// 分类列表分页
// ------------------------------
.pagination .pagination-list {
  list-style-type: none;
  margin: 10px auto;
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  line-height: 30px;
  color: #434343;
}
.pagination .pagination-item:first-child {
  text-align: left;
}
.pagination .pagination-item {
  padding: 0 10px;
  text-align: center;
  width: 100px;
}
.pagination .pagination-item-link {
  color: #434343;
}